/* ======= Colours =========*/
:root {
	--color-pink: #ff1654;
	--color-pale-pink: #ffe7ed;
	--color-super-pale-pink: #fff8f9;
	--color-yellow: #f3ffbd;
	--color-pale-yellow: #fbffeb;
	--color-pale-green: #e2ffef;
	--color-med-green: #70c1b3;
	--color-blue: #247ba0;
	--color-dark-blue: #092848;
}

/* ================================= 
  Base Element Styles
==================================== */

/* @import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Mono'); */

* {
	box-sizing: border-box;
}

body,
input,
button {
	font-family: 'Nunito', sans-serif;
}

body {
	font: 1em/1.5;
	color: var(--color-pink);
	background: linear-gradient(to bottom, var(--color-dark-blue) 0%, var(--color-blue) 100%);
}

header {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
	font-size: 3em;
	margin: 0;
	letter-spacing: 0.07rem;
}

span {
	font-size: 1.3em;
}

a {
	text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	color: var(--color-blue);
	padding: .875em 1.875em 1.875em;
	background: var(--color-pale-pink);
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;
}

legend {
	font-weight: bold;
	padding-top: .5em;
	border-top: 1px solid var(--color-blue);
	margin-bottom: 1.125em;
}

fieldset:first-of-type legend {
	border: none;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	display: block;
	margin-bottom: .5em;
}

input {
	padding: .8em;
	background: var(--color-yellow);
}

select {
	padding: .4em 2em .4em .4em;
	/* remove default dropdown arrow */
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	/* add in custom dropdown arrow */
	background: url('../img/arrow-head-line.svg'), var(--color-yellow);
	background-repeat: no-repeat;
	background-position: right 0.5em top 50%;
	background-size: 1.2em auto;
}

input,
select {
	color: var(--color-dark-blue);
	font-size: 1em;
	font-weight: 500;
	margin-bottom: 1.125em;
	border: 2px solid var(--color-med-green);
	border-radius: 3px;
	outline: none;
}

input:focus,
input:hover {
	background: var(--color-pale-yellow);
	border-color: var(--color-blue);
	transition: border-color .4s, background-color .4s;
}

select:hover, select:focus {
	border-color: var(--color-blue);
}

::placeholder {
	color: var(--color-med-green);
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

input[type="checkbox"] {
	margin: 0.6em;
}

.activities label {
	margin: 0;
	font-size: 1.2em;
}

.activities label:hover {
	background-color: var(--color-super-pale-pink);
}

input[type="checkbox"]:checked {
	color: var(--color-pink)
}

button {
	color: var(--color-pale-yellow);
	padding: .55em 1.25em;
	background: var(--color-dark-blue);
	margin: 1.25em 0 .5em;
	cursor: pointer;
	border: 0px;
	border-radius: 4px;
	transition: all 0.5s;
	width: 100%;
}

button:hover, button:focus {
	letter-spacing: 0.05em;
	background: var(--color-pink);
}

input,
select,
option {
	font-family: 'roboto', sans-serif;
}

select option {
	font-weight: 400;
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.shirt-box {
	width: 100%;
	padding: 5px;
	background: var(--color-med-green);
	border-radius: 4px;
}

.shirt-box label {
	color: var(--color-dark-blue);
}

.interests input {
	margin-bottom: 0;
}

.credit-card,
.paypal,
.bitcoin {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	background: var(--color-med-green);
	border-radius: 4px;
}

.credit-card {
	padding-top: 10px;
}

.credit-card label,
.paypal p,
.bitcoin p {
	color: var(--color-dark-blue);
}
/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}

	label {
		clear: both;
	}
}
